@font-face {
	font-family: "Arvo-Regular"; src: url("Arvo-Regular.ttf");}
@font-face {
	font-family: "Arvo-Bold"; src: url("Arvo-Bold.ttf");}
@font-face {
	font-family: "Arvo-Italic"; src: url("Arvo-Italic.ttf");}
* {
	font-size: 3vmin; text-align: left; 
	box-sizing: border-box;}
body {
	font-family: "Arvo-Regular"; color: rgba(0,0,0,1);
	overflow: hidden;}
a {
	color: rgba(0,0,0,1); text-decoration: none; font-size: 3vh;}
#stars {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -6;
    background: url('bg0.svg') no-repeat center center;
    background-size: cover;}
#BGiframe {
	position: absolute;	top: 0vh; bottom: 0vh; left: 0vw; right: 0vw;
	z-index: 0;	background-color: none;
	-o-transition:4s; -ms-transition:4s; -moz-transition:4s; -webkit-transition:4s;}
#iframe {
	position: absolute; left: 10vh; right: 10vh; top: -90vh; bottom: 110vh;
	moz-border-radius: 5vmin; border-radius: 5vmin;
	z-index: 3; background-color: rgba(255,255,255,1);
	-o-transition:left 1s, top 4s, bottom 4s; -ms-transition:left 1s, top 4s, bottom 4s; -moz-transition:left 1s, top 4s, bottom 4s; -webkit-transition:left 1s, top 4s, bottom 4s;}
#iframe.moved {
	top: 10vh; bottom: 10vh;}
#iframe.displaced {
	left: 40vh;}
#BGiframe.moved {
	position: absolute;	top: 100vh; bottom: -100vh; left: 0vw; right: 0vw;
	z-index: 0;	background-color: none;}
	
	
	
#container {
	z-index: 2;
	color: rgba(255,255,255,1);
	position: absolute; top: 3vmin; left: 3vmin;}
.bar1, .bar2, .bar3 {
    width: 4vmin;
    height: 0.5vmin;
    background-color: rgba(255,255,255,1);
	border-radius: 50vmin;
    margin: 0.9vmin 0;
    transition: 0.4s;}
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-0.5vh, 1.4vh) ;
    transform: rotate(-45deg) translate(-0.5vh, 1.4vh) ;}
.change .bar2 {
    opacity: 0;}
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-0.5vh, -1.4vh) ;
    transform: rotate(45deg) translate(-0.5vh, -1.4vh) ;}
	
	

#sidenav {
  height: 100%;
  width: 30vmin;
  position: absolute;
  z-index: 1;
  top: 0;  left: -30vmin;
  background-color: rgba(17,17,17,1);
  overflow-x: hidden;
  padding-top: 9vmin;
  -o-transition:1s; -ms-transition:1s; -moz-transition:1s; -webkit-transition:1s;}
#sidenav.moved {
  left: 0vmin;}
#sidenav a, .dropdown-btn {
  padding: 1vmin 2vmin 1vmin 4vmin;
  text-decoration: none;
  font-size: 2vm;
  font-family: "Arvo-Regular";
  color: rgba(129,129,129,1);
  display: block;
  border: none;
  background: none;
  width:100%;
  text-align: left;
  cursor: pointer;
  outline: none;
  -o-transition:0.25s; -ms-transition:0.25s; -moz-transition:0.25s; -webkit-transition:0.25s;}
#sidenav a:hover, .dropdown-btn:hover {
  color: rgba(241,241,241,1);
  -o-transition:0.25s; -ms-transition:0.25s; -moz-transition:0.25s; -webkit-transition:0.25s;}
.main {
  margin-left: 200px;
  font-size: 20px;
  padding: 0px 10px;
  -o-transition:0.25s; -ms-transition:0.25s; -moz-transition:0.25s; -webkit-transition:0.25s;}
.active {
  background-color: rgba(53,121,138,1);
  color: white;
  -o-transition:0.25s; -ms-transition:0.25s; -moz-transition:0.25s; -webkit-transition:0.25s;}
.dropdown-container {
  display: none;
  background-color: rgba(38,38,38,1);
  padding-left: 8px;
  -o-transition:0.25s; -ms-transition:0.25s; -moz-transition:0.25s; -webkit-transition:0.25s;}
.fa-caret-down {
  float: right;
  padding-right: 8px;
  -o-transition:0.25s; -ms-transition:0.25s; -moz-transition:0.25s; -webkit-transition:0.25s;}
  
  
  
.pLink {
	font-family: "Arvo-Italic"; color: rgba(0,0,0,1); font-size: 2.5vmin;}
#aboutMeDivider{
	border-left: 1px rgba(153,153,153,1) solid;
	position: absolute; left: 50vw; top: 0vh; bottom: 0vh;}
#aboutMeHeaderWrap{
	position: absolute; top: 7vh; bottom: 0vh; left: 50vw; right: 0vh;}
#aboutMeHeader {
	font-family: "Arvo-Regular"; font-weight: bold; font-size: 6vmin; text-align: center; color: rgba(0,0,0,1);}
#pictureWrapper1 {
	position: absolute; top: 0vh; bottom: 0vh; left: 0vw; right: 50vw;}
#pictureWrapper2 {
	overflow: hidden; margin: 0 auto; border-radius: 5vmin;
	position: absolute; left: 6.81vh; right: 6.81vh; top: 6.81vh; bottom: 6.81vh;}
#picturePadding{
	position: relative; float: right; right: 50%; height: 100%;}
#picture{
	position: relative; right:-50%; height: 100%;}
#aboutMeWrapper1{
	position: absolute; top: 0vh; bottom: 0vh; left: 50vw; right: 13.62vh;}
#aboutMeWrapper2 { 
	position: relative; left: 6.81vh; right: 6.81vh; top: 18vh; bottom: 6.81vh;}
#aboutMeP {
	font-size: 2.5vmin; letter-spacing: 0px; display: inline-block;
	vertical-align: middle; text-align: justify; text-align-last: center; -moz-text-align-last: center;}
	
	
	

.btn {
	padding: 4vh 8vw; margin: 3vh 6vw; display: inline-block;
	font-family: "Arvo-Regular"; text-align: center; letter-spacing: 1px;
    position: relative;
	border: none; border-radius: 4vmin; outline: none;
	background: rgb(42,94,118); color: rgb(255,255,255);
    box-shadow: 0 1.5vh rgb(33,69,97);
    -webkit-transition: none; -moz-transition: none; transition: none;}
.btn:hover {
	box-shadow: 0 .75vh rgb(33,69,97);
	top: .75vh;}
.btn:active {
	box-shadow: 0 0 rgb(33,69,97);
	top: 1.5vh;}
.aoitHeader {
	position: absolute; top: 7vh; bottom: 0vh; left: 0vw; right: 0vw;
	font-family: "Arvo-Regular"; font-weight: bold; font-size: 6vmin; text-align: center; color: rgba(0,0,0,1);}
#word {
	display: table-cell;
	position: absolute; top: 20vh; right: 50vw; width: 50vw;
	text-align: center; vertical-align: middle;}
#powerpoint {
	display: table-cell;
	position: absolute; top: 20vh; left: 50vw; width: 50vw;
	text-align: center; vertical-align: middle;}
#excel {
	display: table-cell;
	position: absolute; top: 45vh; right: 25vw; width: 50vw;
	text-align: center; vertical-align: middle;}
#access {
	display: table-cell;
	position: absolute; top: 70vh; right: 50vw; width: 50vw;
	text-align: center; vertical-align: middle;}
#html {
	display: table-cell;
	position: absolute; top: 70vh; left: 50vw; width: 50vw;
	text-align: center; vertical-align: middle;}
#evidence {
	display: table-cell;
	position: absolute; top: 35vh; right: 50vw; width: 50vw;
	text-align: center; vertical-align: middle;}
#report {
	display: table-cell;
	position: absolute; top: 35vh; left: 50vw; width: 50vw;
	text-align: center; vertical-align: middle;}
#video {
	display: table-cell;
	position: absolute; top: 65vh; right: 25vw; width: 50vw;
	text-align: center; vertical-align: middle;}
	
	
	
.filetextWrapper{
	position: absolute; left: 0vw; right: 65vw; top: 0vh; bottom: 0vh}
.fileHeader {
	position: absolute; left: 0vw; top: 6vh; right: 0vw;
	font-family: "Arvo-Regular"; font-weight: bold; font-size: 6vmin; text-align: center; color: rgba(0,0,0,1);}
.fileDescription {
	text-align: justify; text-align-last: center; -moz-text-align-last: center; font-size: 2.5vh; letter-spacing: 0px; line-height: 5vh;
	position: absolute; left: 6.81vh; right: 6.81vh; top: 18vh;}
.buttonP {
	font-size: 6vh; display: table-cell; text-align: center; line-height: 6vh; color: rgb(255,255,255);
	position: relative; top: -0.25vh;}
.arrowBox {
	display: table; vertical-align: middle; 
	border: none; border-radius: 3vh;
	position: relative; left: 0%; width: 100%; top: 0%; bottom: 0%;
	transition-duration: 0.2s;}
#backButton {
	text-align: center;
	border: none; border-radius: 3vh; outline: none;
	background: rgb(42,94,118); color: rgb(255,255,255);
	position: absolute; left: 3.25vw; bottom: 6.81vh; width: 6vh; height: 6vh;}
#backButton:hover {
	bottom: 6.31vh;}
#backbutton:active {
	bottom: 5.81vh;}
#backShadow {	
	position: absolute; left: 3.25vw; bottom: 6vh; width: 6vh; height: 6vh; border: none; border-radius: 4vmin; outline: none; background: rgb(33,69,97); z-index: -1;}
#nextButton {
	text-align: center;
	border: none; border-radius: 3vh; outline: none;
	background: rgb(42,94,118); color: rgb(255,255,255);
	position: absolute; right: 68.25vw; bottom: 6.81vh; width: 6vh; height: 6vh;}
#nextButton:hover {
	bottom: 6.31vh;}
#nextbutton:active {
	bottom: 5.81vh;}
#nextShadow {	
	position: absolute; right: 68.25vw; bottom: 6vh; width: 6vh; height: 6vh; border: none; border-radius: 4vmin; outline: none; background: rgb(33,69,97); z-index: -1;}
#centerDivider{
	border-left: 1px rgba(153,153,153,1) solid;
	position: absolute; left: 35vw; top: 0vh; bottom: 0vh;}
#file {
	position: absolute; left: 38.5vw; top: 7vh;}
#subIframe {
	position: absolute; left: 38.5vw; width: 58vw;top: 7vh; height: 86vh;}
#table {
	position: absolute; left: 38.5vw; width: 58vw;top: 7vh; height: 86vh;
	color: rgba(0,0,0,1);
	background-color: rgba(212,160,125,0);}
tr {
	height: 10.1%;}
td {
	text-align: center; border: 1px solid black;
	background-color: rgba(255,255,255,1);}
#accessIframe {
	width: 99%; height: 99%; background-color: rgba(255,255,255,1);}
.accessLink {
	text-align: center;}
.tableTitle {
	color: rgba(255,255,255,1);
	background-color: rgb(33,69,97);}
.pLink {
	font-size: 2.5vh; letter-spacing: 0px; line-height: 5vh;}